{% extends 'base.html' %}

{% block title %}Mes articles{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><i class="fas fa-user"></i> Mes articles en vente</h2>

            <a href="{% url 'ajouter_article' %}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Ajouter un article</a>

            {% if articles_vendus %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Catégorie</th>
                    <th>Date de création</th>
                    <th>État</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for article in articles_vendus %}
                    <tr>
                      {% if article.image %}
                      <td><img src="{{ article.image.url }}" alt="{{ article.titre }}" width="50px"></td>
                      {% endif %}
                      <td>{{ article.titre }}</td>
                      <td>{{ article.prix }} €</td>
                      <td>{{ article.quantite }}</td>
                      <td>{{ article.categorie }}</td>
                      <td>{{ article.date_creation | date:'d/m/Y' }}</td>
                      <td>{{ article.etat }}</td>
                      <td>
                        <a href="{% url 'modifier_article' article.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i> Modifier</a>
                        <a href="{% url 'supprimer_article' article.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Supprimer</a>

                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>Aucun article en vente.</p>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'profil' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour au profil</a>

              <a href="{% url 'voir_panier' %}" class="btn btn-success position-relative">
                <i class="fas fa-shopping-cart"></i>
                Panier {% if panier.articles.count > 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ panier.articles.count }}
                    <span class="visually-hidden">articles dans le panier</span>
                  </span>
                {% endif %}
              </a>

              {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
                  <input type="hidden" name="next" value="{% url 'accueil' %}">
                </form>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Connexion</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}